{% extends 'layout.html' %}

{% load static %}

{% block title %}
  Contact Us
{% endblock %}

{% block main %}
  <main class="page contact-us-page">
      <section class="text-light bg-dark border-dark clean-block clean-form dark">
          <div class="container">
              <div class="block-heading">
                  <h2 class="text-info">Contact Us</h2>
                  <p>Submit an application or ask a query.</p>
              </div>
              <form class="bg-dark bg-gradient border-warning shadow-lg" action="{% url 'backend:contact' %}" method="post">
                {% csrf_token %}
                <br>
                {{ message }}
                <br>
                  <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name"></div>
                  <div class="mb-3"><label class="form-label" for="subject">Subject</label><input class="form-control" type="text" id="subject" name="subject"></div>
                  <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control" type="email" id="email" name="email"></div>
                  <div class="mb-3"><label class="form-label" for="message">Message</label><textarea class="form-control" id="message" name="message"></textarea></div>
                  <div class="mb-3"><input class="btn btn-primary" type="submit" value="Send"/></div>
              </form>
          </div>
      </section>
  </main>
{% endblock %}
