{% extends 'layout.html' %}

{% load static %}

{% block title %}
  HOME
{% endblock %}

{% block main %}
  <main class="text-dark page landing-page">
      <section class="text-black-50 clean-block clean-hero" style="background-image:url({% static 'img/tech/image4.jpg' %});color:rgba(9, 162, 255, 0.85);">
          <div class="text">
              <h2 class="text-light border-light shadow-lg">Your Random Act Of Kindness...</h2>
              <p class="border-light shadow-lg">Fund Non-Profit Organizations without having to select a single one! </p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
          </div>
      </section>
      <section class="text-light bg-dark bg-gradient border-light shadow-lg clean-block clean-info dark">
          <div class="container">
              <div class="text-dark block-heading">
                  <h2 class="text-info">Info</h2>
                  <p class="text-light">YRAK is a platform which lets people donate money in terms of a digital currency called Ruby which has a fixed value ($5 for now). All someone who wishes to contribute has to do is, buy some rubies, even one can do!.</p>
              </div>
              <div class="row align-items-center">
                  <div class="col-md-6"><img class="img-thumbnail" src="{% static 'img/scenery/image5.jpg' %}"></div>
                  <div class="col-md-6">
                      <h3>What happens with the rubies??</h3>
                      <div class="getting-started-info">
                          <p>The money from that transaction is sent to the pool of money and an algorithm inspired from multilevel queue scheduling algorithms used by operating systems distributes funds to different campaigns registered by non-profit and humanitarian organizations..</p>
                      </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-light bg-dark border-warning shadow-lg clean-block features">
          <div class="container">
              <div class="block-heading">
                  <h2 class="text-info">Features</h2>
                  <p>Do your little part for the society...</p>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-5 feature-box"><i class="icon-globe icon"></i>
                      <h4>For Everyone</h4>
                      <p>Contributors, donors and workers all alike are welcome</p>
                  </div>
                  <div class="col-md-5 feature-box"><i class="icon-diamond icon"></i>
                      <h4>Transparancy</h4>
                      <p>See what happens with every ruby you bought</p>
                  </div>
                  <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                      <h4>Connect</h4>
                      <p>Connect with many global organizations</p>
                  </div>
                  <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                      <h4>Take Part</h4>
                      <p>Contact us and start a campaign yourself!!</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-light bg-dark bg-gradient border-light shadow-lg clean-block about-us">
          <div class="container">
              <div class="block-heading">
                  <h2 class="text-info">Why sign up..</h2>
                  <p>Let's all come together and work for a better future</p>
              </div>
          </div>
      </section>
  </main>
{% endblock %}
